.hero_sec{background:url('../../images/cyber-bg.png') no-repeat;background-position:center;background-size:cover; padding: 23% 0;}
.hero_sec *{color:var(--white);}
.hero_sec .blue{color:var(--primary-color);}
.hero_sec h1:not(:last-child) {margin-bottom: 0;}
