.cloud_sec{width:100%;padding:22% 0;position:relative;background:url('../../images/cloud-bg.png') no-repeat center center/cover;display:flex;align-items:center;}
.cloud_sec:before{content:'';position:absolute;background:rgba(0,0,0,.3);height:100%;width:100%;z-index:-1;}
.cloud_sec .content *{color:var(--white);}
.cloud_sec .content{width:45%;}
.cloud_sec .content span{color:var(--primary-color);}

@media screen and (max-width:991px){
    .cloud_sec{padding:11% 0;}
}

@media screen and (max-width:767px){
    .cloud_sec{padding:5% 0;}
    .cloud_sec .content{width:100%;padding:1rem;background:rgba(255,255,255,.2);}
}
