.data_sec{width:100%;padding:14% 0;background:url('../../images/data-bg.png')no-repeat center center/cover;display:flex;align-items:center;position:relative;z-index:1;}
.data_sec:before{content:'';position:absolute;background:rgba(0,0,0,.1);height:100%;width:100%;z-index:-1;}
.data_sec .content{display:flex;flex-direction:column;justify-content:center;width:100%;max-width:45%;margin:0 0 auto auto;}
.data_sec span{color:var(--primary-color);}

@media screen and (max-width:991px){.data_sec{padding:5% 0;}
}

@media screen and (max-width:767px){.data_sec .content{width:100%;padding:1rem;background:rgba(255,255,255,.7);max-width:100%;}
}
